body {
    font-family: Arial, sans-serif;
    background: #0f0f14;
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: #1b1b24;
    border-radius: 16px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    background: #5b5bff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #7070ff;
}